.ReviewForm {
    display: flex;
    width: 90%;
    height: 95%;
    margin: auto;
    align-items: center;
    flex-direction: column;
}

.ReviewForm textarea{
    height: 20rem;
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    font-family: monospace;
}
.commentsBlock {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 20rem;
    max-height: 20rem;
    width: 100%;
    background-color: #f9f9f9;
    overflow: auto;
}

button {
    margin: 1rem;
    width: 5rem;
    height: 1.5rem;
    font-weight: 500;
    display: inline-block;
}

.buttonContainer{
    display: flex;
}